# elchamocloud/<repository-name>/.gitignore

.DS_Store
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
.terraformrc
terraform.rc
.terraform.lock.hcl
.terragrunt-cache/
.envrc
*.envrc
__pycache__/
.secrets/
.scripts/
*.log